apiVersion: v1
kind: ConfigMap
metadata:
  name: dns-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "bmh-vm.labels" . | nindent 4 }}
data:
  dns-config.txt: |
    $ORIGIN {{ .Release.Namespace }}.local.
    $TTL 3600
    @   IN SOA ns.{{ .Release.Namespace }}.local. admin.{{ .Release.Namespace }}.local. (
            2025110201 ; serial YYYYMMDDnn
            3600       ; refresh (1 hour)
            600        ; retry (10 minutes)
            604800     ; expire (1 week)
            86400 )    ; minimum (1 day)
    ;
    @   IN NS  ns.{{ .Release.Namespace }}.local.

    bastion   IN A   192.168.3.2
    switch    IN A   192.168.3.1
    master1   IN A   192.168.0.3
    master2   IN A   192.168.0.4
    master3   IN A   192.168.0.5
    worker1   IN A   192.168.0.6    
    worker2   IN A   192.168.0.7
    worker3   IN A   192.168.0.8
