apiVersion: apps/v1
kind: Deployment
metadata:
  name: switch
  namespace: {{ .Release.Namespace }}
  labels:
    app: switch
    {{- include "bmh-vm.labels" . | nindent 4 }}  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: switch
  template:
    metadata:
      labels:
        app: switch
      annotations:
        k8s.v1.cni.cncf.io/networks: |
        {{ if eq .Values.networkConfiguration "simple" }}
          [
            {
              "name": "m",
              "interface": "eth2"
            },
            {
              "name": "vm",
              "interface": "eth3"
            },
            {
              "name": "st",
              "interface": "eth4"
            },
            {
              "name": "nm",
              "interface": "eth1"
            }                      
          ]
        {{ else if eq .Values.networkConfiguration "bonds" }}
          [
          {{- range $index, $element := .Values.nodes }}
            {
              "name": "cp-{{ $element.name }}-1",
              "interface": "eth{{ add (mul $index 2) 2 }}"
            },
            {
              "name": "cp-{{ $element.name }}-2",
              "interface": "eth{{ add (mul $index 2) 3 }}"
            },
            {
              "name": "vm-{{ $element.name }}-1",
              "interface": "eth{{ add (mul $index 2) 5 }}"
            },
            {
              "name": "vm-{{ $element.name }}-2",
              "interface": "eth{{ add (mul $index 2) 5 }}"
            },
          {{- end }}
            {
              "name": "nm",
              "interface": "eth1"
            }                      
          ]
        {{ end }}
    spec:
      enableServiceLinks: false
      serviceAccountName: switch
      imagePullSecrets:
      - name: quay     
      containers:
      - name: switch
        image: quay.io/raffaelespazzoli/juniper_vjunos-switch:25.2R1.9
        volumeMounts:
        - name: switch-config
          mountPath: /config
        securityContext:
          privileged: true          
      volumes:
      - name: switch-config
        configMap:
          name: switch-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: switch-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: switch
    {{- include "bmh-vm.labels" . | nindent 4 }}
data:
  startup-config.cfg: |
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
    {{- if eq .Values.networkConfiguration "simple" }}    
    interfaces {
      ge-0/0/0 {
        unit 0 {
          family inet {
            address 192.168.3.1/24;
          }
        }
      }
      ge-0/0/1 {
        unit 0 {
          family inet {
            address 192.168.0.1/24;
          }
        }
      }
      ge-0/0/2 {
        unit 0 {
          family inet {
            address 192.168.1.1/24;
          }
        }
      }
      ge-0/0/3 {
        unit 0 {
          family inet {
            address 192.168.2.1/24;
          }
        }
      }
    }
    {{- else if eq .Values.networkConfiguration "bonds" }}    
    interfaces {}
    {{- end }}                    

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: switch
  namespace: {{ .Release.Namespace }}
  labels:
    app: switch
    {{- include "bmh-vm.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: switch-privileged
  namespace: {{ .Release.Namespace }}
  labels:
    app: switch
    {{- include "bmh-vm.labels" . | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: switch
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: system:openshift:scc:privileged
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: Service
metadata:
  name: switch-ssh
  namespace: {{ .Release.Namespace }}
  labels:
    app: switch
    {{- include "bmh-vm.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: switch
  ports:
    - protocol: TCP
      port: 22
      targetPort: 22
      name: ssh
    - protocol: TCP
      port: 830
      targetPort: 830
      name: netconf
    - protocol: TCP
      port: 5000
      targetPort: 5000
      name: telnet-serial
    - protocol: TCP
      port: 80
      targetPort: 80
      name: http
    - protocol: TCP
      port: 443
      targetPort: 443
      name: https      
    - protocol: TCP
      port: 161
      targetPort: 161
      name: snmp      
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: switch
  namespace: {{ .Release.Namespace }}
  labels:
    app: switch
    {{- include "bmh-vm.labels" . | nindent 4 }}
spec:
  port:
    targetPort: http
  to:
    kind: Service
    name: switch-ssh