{{ if eq .Values.networkConfiguration "simple" }}
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: m
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" . | nindent 4 }}
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: st
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" . | nindent 4 }}
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: vm
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" . | nindent 4 }}
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled            
{{ else if eq .Values.networkConfiguration "bonds" }}
{{ $dot := . }}
{{ range .Values.nodes }}
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: cp-{{ .name }}-1
  namespace: {{ $dot.Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" $dot | nindent 4 }}
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: cp-{{ .name }}-2
  namespace: {{ $dot.Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" $dot | nindent 4 }}  
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: vm-{{ .name }}-1
  namespace: {{ $dot.Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" $dot | nindent 4 }}  
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled      
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: vm-{{ .name }}-2
  namespace: {{ $dot.Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" $dot | nindent 4 }}  
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled             
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: st-{{ .name }}-1
  namespace: {{ $dot.Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" $dot | nindent 4 }}  
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled 
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: st-{{ .name }}-2
  namespace: {{ $dot.Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" $dot | nindent 4 }} 
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled
{{ end }}
{{ end }}
---
apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: nm
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "bmh-vm.labels" . | nindent 4 }}  
spec:
  topology: Layer2 
  layer2: 
    role: Secondary
    ipam:
      mode: Disabled                  