apiVersion: apps/v1
kind: Deployment
metadata:
  name: router
  namespace: {{ .Release.Namespace }}
  labels:
    app: router
    {{- include "bmh-vm.labels" . | nindent 4 }}  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: router
  template:
    metadata:
      labels:
        app: router
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [
            {
              "name": "nm",
              "interface": "nm"
            },
            {
              "name": "cp1",
              "interface": "cp1"
            },
            {
              "name": "cp2",
              "interface": "cp2"
            },
            {
              "name": "vm1",
              "interface": "vm1"
            },
            {
              "name": "vm2",
              "interface": "vm2"
            }            
          ]
    spec:
      enableServiceLinks: false
      serviceAccountName: router
      imagePullSecrets:
      - name: quay     
      containers:
      - name: router
        image: quay.io/raffaelespazzoli/juniper_vjunos-router:25.2R1.9
        volumeMounts:
        - name: router-config
          mountPath: /config
        securityContext:
          privileged: true          
      volumes:
      - name: router-config
        configMap:
          name: router-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: router-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: router
    {{- include "bmh-vm.labels" . | nindent 4 }}
data:
  startup-config.cfg: |
    interfaces {
      ae0 {
        aggregated-ether-options {
          lacp {
            active;
          }
        }
        unit 0 {
          family inet {
            address 192.168.0.1/24;
          }
        }
      }
      ae1 {
        aggregated-ether-options {
          lacp {
            active;
          }
        }
      }
      ge-0/0/1 {
        unit 0 {
          family inet {
            address 192.168.3.1/24;
          }
        }
      }      
      ge-0/0/1 {
        ether-options {
          802.3ad ae0;
        }
      }
      ge-0/0/2 {
        ether-options {
          802.3ad ae0;
        }
      }
      ge-0/0/3 {
        ether-options {
          802.3ad ae1;
        }
      }
      ge-0/0/4 {
        ether-options {
          802.3ad ae1;
        }
      }
    }
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: router
  namespace: {{ .Release.Namespace }}
  labels:
    app: router
    {{- include "bmh-vm.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: router-privileged
  namespace: {{ .Release.Namespace }}
  labels:
    app: router
    {{- include "bmh-vm.labels" . | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: router
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: system:openshift:scc:privileged
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: Service
metadata:
  name: router-ssh
  namespace: {{ .Release.Namespace }}
  labels:
    app: router
    {{- include "bmh-vm.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: router
  ports:
    - protocol: TCP
      port: 22
      targetPort: 22
      name: ssh
    - protocol: TCP
      port: 830
      targetPort: 830
      name: netconf
    - protocol: TCP
      port: 5000
      targetPort: 5000
      name: telnet-serial
    - protocol: TCP
      port: 80
      targetPort: 80
      name: http
    - protocol: TCP
      port: 443
      targetPort: 443
      name: https      
    - protocol: TCP
      port: 161
      targetPort: 161
      name: snmp      
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: router
  namespace: {{ .Release.Namespace }}
  labels:
    app: router
    {{- include "bmh-vm.labels" . | nindent 4 }}
spec:
  port:
    targetPort: http
  to:
    kind: Service
    name: router-ssh