# nodes that will become part of the cluster
nodes:
  - name: master1
  - name: master2
  - name: master3
  - name: worker1
  - name: worker2
  - name: worker3

# network configuration for the lab. Valid values are simple, bonds
networkConfiguration: simple
# whether the environment is disconnected or not 
disconnectedEnvironment: false
# whether the environment is proxied or not
proxiedEnvironment: false

#public key for accessing VMS (not the node), must be in the for that OCV expects
sshPublicKeySecretName: ciao
# password for sshing into VMS
password: j7q5-vkj6-5pcr

# coddns additional configuration
coredns:
  podAnnotations:
    k8s.v1.cni.cncf.io/networks: |
      [
        {
          "name": "nm",
          "interface": "nm",
          "ips": ["192.168.3.3/24"]
        }
      ]

  extraVolumes:
    - name: dns-config
      configMap: 
        name: dns-config

  extraVolumeMounts:
    - name: dns-config
      mountPath: /config-file  


  # https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options
  servers:
  - zones:
    - name: "bm-lab.local."
    port: 53
    # -- expose the service on a different port
    # servicePort: 5353
    # If serviceType is nodePort you can specify nodePort here
    # nodePort: 30053
    # hostPort: 53
    plugins:
    - name: errors
    # Serves a /health endpoint on :8080, required for livenessProbe
    - name: health
      configBlock: |-
        lameduck 10s
    # Serves a /ready endpoint on :8181, required for readinessProbe
    - name: ready
    # Required to query kubernetes API for data
    # Serves a /metrics endpoint on :9153, required for serviceMonitor
    - name: prometheus
      parameters: 0.0.0.0:9153
    - name: file
      parameters: /config-file/dns-config.txt "bm-lab.local."
      configBlock: |-
        reload 30s
    - name: forward
      parameters: . /etc/resolv.conf
    - name: cache
      parameters: 30
    - name: loop
    - name: reload
    - name: loadbalance       